.cabecalho {
  background-color: var(--cor-de-fundo);
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3vw;
  padding-left: 3vw;
}
.cabecalho .avatar {
  height: 60%;
}
.cabecalho .avatar img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
