.cabecalho {
  background-color: var(--cor-de-fundo);
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.cabecalho .avatar {
  height: 10vh;
}
.cabecalho .avatar img {
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
