* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.curriculo {
  display: grid;
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  gap: 10px;
  color: var(--cor-clara);
  background-color: black;
  grid-template-rows: auto 2fr 10vh;
  grid-template-columns: 2fr 1fr;
  --cor-de-fundo: #05445e;
  --cor-secundaria: #189ab4;
  --cor-destaque: #75e6da;
  --cor-clara: #d4f1f4;
}
